.header {
  $this: &;
  background-color: $color-bg-primary;

  z-index: 100;
  transition: all 0.3s ease;

  &.is-fixed {
    width: 100%;
    position: fixed !important;
    top: -180px;
    transform: translateY(180px);
  }

  &__desktop {
    @media (max-width: $s) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    @media (max-width: $s) {
      display: flex;
    }
  }

  &__nav {
    background-color: $color-bg-secondary;
  }

  &__info {
    display: flex;
    padding: 24px 0 20px;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__info-item {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 32px;
    &:hover {
      #{$this}__text {
        color: $color-accent-light-blue;
      }
      #{$this}__icon-info {
        stroke: $color-accent-light-blue;
      }
      #{$this}__icon-estimate {
        fill: $color-accent-light-blue;
      }
    }

    &.city {
      &:hover {
        #{$this}__city-popup {
          opacity: 1;
          visibility: visible;
          z-index: 2;
        }
      }
    }

    &.dropdown {
      &:hover {
        #{$this}__dropdown-container {
          opacity: 1;
          visibility: visible;
          z-index: 2;
        }
      }
    }
  }

  &__popup-button {
    border-radius: 4px;
    padding: 10px 12px;
    color: $color-text-contrast;
    @include fontSize(14, 20);
    font-weight: 600;
    background-color: $color-accent-dark-blue;

    &.unfill {
      background-color: $color-bg-secondary;
      color: $color-accent-dark-blue;
      &:hover {
        background-color: $color-accent-light-blue;
        color: $color-text-contrast;
      }
    }

    &:hover {
      background-color: $color-accent-light-blue;
    }
  }

  &__city-popup {
    transition: opacity, visibility;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    background: $color-grey-0;
    box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
    border-radius: 8px;
    padding: 16px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 34px;
    left: 0;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    width: 287px;

    &::after {
      content: '';
      position: absolute;
      top: -22px;
      width: 240px;
      height: 26px;
      right: 0;
      left: 0;
      z-index: 0;
    }

    @media (max-width: $s) {
      display: none;
    }
  }

  &__dropdown-container {
    transition: opacity, visibility;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    border-radius: 4px;
    background: $color-grey-0;
    box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
    padding: 8px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 34px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    width: 224px;

    &::after {
      content: '';
      position: absolute;
      top: -22px;
      width: 240px;
      height: 26px;
      right: 0;
      left: 0;
      z-index: 0;
    }
  }

  &__dropdown-item {
    padding: 12px 16px;
    color: $color-text-primary;
    @include fontSize(13, 16);
    font-weight: 500;
    transition: background-color 0.3s ease;

    &.red {
      color: $color-accent-red;
      &:hover {
        color: $color-accent-red;
      }
    }

    &:hover {
      background-color: $color-bg-secondary;
      color: $color-text-primary;
    }
  }

  &__text {
    color: $color-accent-dark-blue;
    @include fontSize(13, 16);
    font-weight: 600;
    transition: color 0.3s ease;

    &.mobile {
      @media (max-width: $xs) {
        display: none;
      }
    }
  }

  &__icon-info {
    width: 20px;
    height: 20px;
    stroke: $color-accent-dark-blue;
    stroke-width: 1.5;
    stroke-linecap: round;
    margin-right: 8px;
    transition: stroke 0.3s ease;

    &.margin {
      margin: 0;
    }
  }
  &__icon-estimate {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    fill: $color-accent-dark-blue;
    fill-rule: evenodd;
    clip-rule: evenodd;
    transition: fill 0.3s ease;

    &.margin {
      margin: 0;
    }

    &.chevron {
      margin-right: 0;
      margin-left: 8px;
    }
  }

  &__catalog-button {
    padding: 12px 16px;
    background-color: $color-accent-dark-blue;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 600;

    &:hover {
      background-color: $color-accent-light-blue;
    }
  }

  &__burger-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    stroke: $color-grey-0;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    &.dark {
      margin-right: 0;
      stroke: $color-accent-dark-blue;
    }
  }

  &__search {
    width: 100%;
    padding-left: 16px;
    padding-right: 40px;
    flex-grow: 0;
    flex-shrink: 1;
  }

  &__actions {
    display: flex;
    align-items: center;
    padding: 12px 0;
  }

  &__actions-list {
    display: flex;
    flex-shrink: 0;
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    @media (max-width: $m) {
      #{$this}__text {
        display: none;
      }
    }

    &:hover {
      #{$this}__text {
        color: $color-accent-light-blue;
      }
      #{$this}__icon {
        transform: scale(1.1);
        &.action {
          stroke: $color-accent-light-blue;
        }

        &.cart {
          fill: $color-accent-light-blue;
        }
      }
    }

    & + & {
      padding-left: 16px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;

    &.action {
      stroke: $color-accent-dark-blue;
      stroke-width: 1.5;
      // stroke-linecap: round;
      // stroke-linejoin: round;
    }

    &.cart {
      fill: $color-accent-dark-blue;
      fill-rule: evenodd;
      clip-rule: evenodd;
    }
  }

  &__mobile-container {
    display: flex;
    align-items: center;
  }

  &__icon-container {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.margin {
      margin-left: 8px;
    }
  }

  &__sidebar {
    transition: all 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    // width: 100%;
    // max-width: 40rem;
    transform: translateY(-100%);
    height: calc(var(--vh, 1vh) * 100);
    background: $color-grey-0;
    z-index: 100;
    display: flex;
    flex-flow: column nowrap;

    &.active {
      transform: translateY(0);
    }
  }

  &__sidebar-menu {
    transition: all 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    // width: 100%;
    // max-width: 40rem;
    transform: translateX(-100%);
    height: calc(var(--vh, 1vh) * 100);
    background: $color-grey-0;
    z-index: 98;
    display: flex;
    flex-flow: column nowrap;

    &.active {
      transform: translateX(0);
    }
  }

  &__area {
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    // background: rgba($color-grey-900, 0.25);
    // background: $color-grey-300;
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
