<template lang="pug">
.header
  .header__desktop
    .header__nav(v-if="visible")
      .container
        Nav
    .container 
      .header__info(v-if="visible")
        .header__container
          Logo
          .header__info-item.city
            .header__container(@click='chooseCity')
              svg-icon.header__icon-info(name='location')
              p.header__text Санкт-Петербург
            .header__city-popup(v-if="cityPopup")
              p.header__text Ваш город Санкт-Петербург?
              .header__container(style='justify-content: space-between; margin-top: 16px;')
                button.header__popup-button(@click='hideCity') Да, верно
                button.header__popup-button.unfill(@click='chooseCity') Нет, изменить город
        .header__container
          .header__info-item(@click='getEstimate')
            svg-icon.header__icon-estimate(name='cost-estimate')
            p.header__text Получить смету
          a.header__info-item(href='tel:+7 (495) 225-63-03') 
            svg-icon.header__icon-info(name='phone')
            p.header__text +7 (495) 225-63-03
          .header__info-item.dropdown
            p.header__text Личный кабинет
            svg-icon.header__icon-estimate.chevron(name='chevron-down')
            .header__dropdown-container
              nuxt-link.header__dropdown-item(to='/') Профиль
              nuxt-link.header__dropdown-item(to='/') Заказы
              nuxt-link.header__dropdown-item(to='/') Избранное
              nuxt-link.header__dropdown-item(to='/') Сравнение
              nuxt-link.header__dropdown-item(to='/') Недавно просмотренное
              .header__dropdown-item.red Выйти
      .header__actions
        button.header__catalog-button(@click='openFilters')
          svg-icon.header__burger-icon(name='burger-menu')
          | Каталог
        .header__search
          SearchField
        .header__actions-list
          .header__action
            svg-icon.header__icon.action(name='eye')
            p.header__text Вы смотрели
          .header__action
            svg-icon.header__icon.action(name='compare')
            p.header__text Сравнение
          .header__action
            svg-icon.header__icon.action(name='favorites')
            p.header__text Избранное
          .header__action
            svg-icon.header__icon.cart(name='cart')
            p.header__text Корзина
  .container
    .header__mobile
      .header__mobile-container
        .header__icon-container
          svg-icon.header__burger-icon.dark(name='burger-menu' @click='openMenu')
        .header__icon-container.margin
          svg-icon.search-field__icon(name='search')
      .header__mobile-container
        Logo 
      .header__mobile-container
        .header__icon-container
          svg-icon.header__icon-estimate.margin(name='cost-estimate')
        p.header__text.mobile(@click='getEstimate') Получить смету
        a.header__icon-container.margin(href='tel:+7 (495) 225-63-03')
          svg-icon.header__icon-info.margin(name='phone')  
  .header__sidebar(:class='{"active": sidebarOpened}')
    DropdownCatalog
  .header__sidebar-menu(:class='{"active": menuOpened}')
    DropdownMenu
  .header__area(:class='{"active": sidebarOpened}' @click='closeFilters')
</template>

<script>
import ModalEstimate from '../ModalEstimate/ModalEstimate'
import ModalCity from '../ModalCity/ModalCity'
export default {
  data() {
    return {
      visible: true,
      sidebarOpened: false,
      menuOpened: false,
      cityPopup: true,
    }
  },
  methods: {
    hideCity() {
      this.cityPopup = false
    },
    chooseCity() {
      this.$modal.show(
        ModalCity,
        {},
        { width: '400', scrollable: true, adaptive: true }
      )
    },
    getEstimate() {
      console.log(2131);
      this.$modal.show(
        ModalEstimate,
        {},
        { width: '400', scrollable: true, adaptive: true }
      )
    },
    openMenu() {
      this.menuOpened = !this.menuOpened
    },
    closeMenu() {
      this.menuOpened = false
    },
    openFilters() {
      this.sidebarOpened = true
      // document.querySelector('body').classList.add('fixed')
    },
    closeFilters() {
      this.sidebarOpened = false
      // document.querySelector('body').classList.remove('fixed')
    }
  },
  mounted() {
    this.$nuxt.$on('openCity', this.chooseCity)
    this.$nuxt.$on('openEstimate', this.getEstimate)
    this.$nuxt.$on('closeCity', this.hideCity)
    this.$nuxt.$on('openCatalog', this.openFilters)
    this.$nuxt.$on('closeCatalog', this.closeFilters)
    this.$nuxt.$on('closeMenu', this.closeMenu)
    let head = document.querySelector('.header')
    if (window.outerWidth < 500) {
      head.classList.add('is-fixed')
    }
    window.addEventListener('scroll', () => {
      this.scrollTop = pageYOffset

      if (window.outerWidth >= 500 ) {
        if (this.scrollTop > window.outerHeight - 180) {
          head.classList.add('is-fixed')
          this.visible = false
        } else {
          head.classList.remove('is-fixed')
          this.visible = true
        }
      } else {
        head.classList.add('is-fixed')
        this.visible = false
      }      
    })
  },
}
</script>

<style src='./header.scss' lang="scss">
</style>