.main-popular {
  padding-top: 64px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
  }

  &__tabs {
    display: flex;
  }

  &__tab {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: $color-bg-secondary;
    color: $color-accent-dark-blue;
    @include fontSize(14, 16);
    font-weight: 500;
    transition: background-color 0.5s ease, color 0.5s ease;

    &.active {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;
    }

    &:hover {
      background-color: $color-accent-dark-blue;
      color: $color-text-contrast;
    }

    & + & {
      margin-left: 8px;
    }
  }

  &__grid {
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    display: grid;
    background-color: $color-separator;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
  }
}
