.service-card {
  width: 324px;
  height: 178px;
  background-color: $color-bg-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__cover {
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    margin-top: 16px;
  }
}