<template lang="pug">
  nuxt-link.service-card(to='/')
    .service-card__cover
      img.service-card__image(src='/img/service-card-1.svg')
    .service-card__title {{data.title}}
</template>

<script>
export default {
  props: ['data']
}
</script>

<style lang="scss" src='./service-card.scss'>
  
</style>