.input {
  width: 100%;
  border-radius: 4px;
  padding: 12px 16px;
  background-color: $color-bg-secondary;
  color: $color-text-primary;
  @include fontSize(16, 24);
  font-weight: 500;
  outline: none;

  &::placeholder {
    color: $color-text-tertiary;
  }

  &.white {
    background-color: $color-bg-primary;
  }

  &.textarea {
    height: 176px;
  }
}
