<template lang='pug'>
textarea.input.textarea(v-if='type == "textarea"' :placeholder='placeholder')
input.input(:type='type' :placeholder='placeholder' v-else)   
</template>

<script>
export default { 
  props: ['type', 'placeholder']
}
</script>

<style lang='scss' src='./input.scss'></style>