<template lang="pug">
  .page__content
    .container
      Breadcrumbs(:data="breadcrumbs")
      Headline(title='Профнастил')
      CollectionItems
</template>

<script>
export default {
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Каталог',          
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>