.product-card {
  $this: &;
  padding: 24px;
  background-color: $color-bg-primary;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  // width: 320px;

  &:hover {
    #{$this}__image {
      transform: scale(1.1);
    }
  }

  &__cover {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
  }

  &__image {
    transition: transform 0.5s ease;
  }

  &__title {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 700;
    padding-bottom: 8px;
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;

    &.grey {
      color: $color-text-secondary;
      @include fontSize(14, 16);
      margin-bottom: 4px;
    }
    &.bold {
      font-weight: 700;
    }
  }

  &__special {
    margin-bottom: 16px;
  }

  &__specifications {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  &__specification {
    display: flex;

    & + & {
      margin-top: 8px;
    }
  }

  &__bottom {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.meta {
      margin-top: 32px;
    }
  }

  &__price {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 700;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    padding: 10px;
    background-color: $color-bg-secondary;
    border: 1px solid $color-separator;
    border-radius: 4px;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;

    &:hover {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;
      #{$this}__cart {
        fill: $color-icon-contrast;
      }
    }

    &+& {
      margin-left: 4px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  &__cart {
    width: 20px;
    height: 20px;
    fill: $color-accent-dark-blue;
      fill-rule: evenodd;
      clip-rule: evenodd;
  }

  &__link {
    &:hover {
      #{$this}__arrow {
        fill: $color-accent-light-blue;
      }
    }
  }

  &__arrow {
    width: 20px;
    height: 20px;
    fill: $color-accent-dark-blue;
  }
  
  &__colors {
    
  }

  &__container {
    display: flex;
    margin-top: 12px;
  }

  &__color {
    display: flex;
    margin-left: -6px;
    
  }

  &__hex {
    width: 18px;
    height: 18px;
    border: 2px solid $color-separator;
    border-radius: 100%;
  }
  &__texture {
    width: 18px;
    height: 18px;
    border: 2px solid $color-separator;
    border-radius: 100%;
  }
}
