<template lang="pug">
  .product-card
    .product-card__cover
      img.product-card__image(:src='product.image')
    .product-card__main
      p.product-card__title {{product.title}}
      .product-card__special
        p.product-card__text.grey {{product.special.name}}
        p.product-card__text.bold {{product.special.value}}
      .product-card__specifications
        .product-card__specification(v-for="specification in product.specifications" :key="specification.id")
          .product-card__icon(v-html="specification.icon")
          .product-card__text {{specification.value}}
      .product-card__badges
        StatusBadge(:status='product.status')
    .product-card__bottom
      p.product-card__price {{product.price}} ₽/м²
      .product-card__buttons
        button.product-card__button
          svg-icon.product-card__cart(name='cart' style='margin-right: 8px;')
          | В корзину
        button.product-card__button
          svg-icon.product-card__cart(name='fast-buy')
</template>

<script>
export default {
  props: ['product']
}
</script>

<style lang="scss" src='./product-card.scss'>
  
</style>