.main-recomended {
  padding-top: 64px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
  }   

  &__grid {
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    display: grid;
    background-color: $color-separator;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
  }
}
