<template lang="pug">
  .modal-city
    svg-icon.modal-city__icon-close(name='close' @click='$emit("close")')
    .modal-city__content
      p.modal-city__title Выберите ваш город      
      .modal-city__input
        Input(type='search' placeholder='Поиск города')
      .modal-city__list
        p.modal-city__text(@click='selectCity') Москва
        p.modal-city__text(@click='selectCity') Санкт-Петербург
        p.modal-city__text(@click='selectCity') Псков
        p.modal-city__text(@click='selectCity') Екатеринбург
        p.modal-city__text(@click='selectCity') Казань      
</template>

<script>
export default {
  data() {
    return {
      success: false
    }
  },
  methods: {
    selectCity() {
      this.$emit("close")
      this.$nuxt.$emit("closeCity")
    }
  },
}
</script>

<style lang="scss" src='./modal-city.scss'>
  
</style>