<template lang="pug">
.slider
  h2.slider__title Популярные услуги
  .slider__container(ref='container')
    .slider__wrapper 
      .slider__slide(v-for="item in data" :key="item.id")
        component(:is="object" :data='item') 
    .slider__controls
      button(type='button' title='Предыдущий слайд' ref="prev").slider__prev
        svg-icon.slider__icon.prev(name='chevron-right')
      button(type='button' title='Следующий слайд' ref="next").slider__next
        svg-icon.slider__icon(name='chevron-right')
</template>

<script>
import Swiper, { Navigation } from 'swiper'
Swiper.use(Navigation)
export default {
  props: ['data', 'object'],
  methods: {
    initProductsSlider() {
      this.swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'slider__wrapper',
        slideClass: 'slider__slide',
        slidesPerView: 'auto',
        spaceBetween: 16,
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },
      })
    },
  },
  mounted() {
    this.initProductsSlider()
  },
}
</script>

<style src='./slider.scss' lang="scss">
</style>