.input-file {

  display: flex;
  align-items: center;
  position: relative;

  input {      
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    position: absolute;
  }

  &__span {
    margin-left: 8px;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;

    &.grey {
      color: $color-text-secondary;
      font-style: normal;
      margin-left: 0;
    }

    &.blue {
      color: $color-accent-light-blue;
    }

    &.error {
      color: $color-error;
      position: absolute;
      bottom: -10px;
    }

    
  }

  &__file {
    width: 24px;
    height: 24px;
    stroke: $color-accent-dark-blue;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 0.3s ease;

    &.file {
      stroke: $color-accent-light-blue;
    }
  }

  &__close {
    width: 20px;
    height: 20px;
    fill: $color-icon-secondary;
    margin-left: 8px;
    cursor: pointer;
    z-index: 10;
  }

  &__preloader {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    animation: rotate 1s linear 0s infinite;
  }

  
}