<template lang="pug">
.input-file
  input.input-file__input(
    type='file',    
    @change='changeFile',
    name='file',
    ref='file',
    accept='.jpg, .jpeg, .png, .tif, application/pdf, .ai, .eps, .cdr, .psd'
  )
  svg-icon.input-file__file(name='paperclip', v-if='!fileName')
  svg-icon.input-file__file.file(name='file', v-if='fileName')
  span.input-file__span(v-if='!fileName') Прикрепить файл <i class='input-file__span grey'>(до 50 Мб)</i>
  span.input-file__span.blue(v-if='fileName') {{ fileName }}
  svg-icon.input-file__close(name='close', v-if='fileName' @click='deleteFile')
  img.input-file__preloader(src='/icons/preloader-item.png', v-if='loading')
</template>

<script>
export default {
  data() {
    return {
      file: '',
      loading: false
    }
  },
  computed: {
    fileName() {
      return this.file ? this.file.name : ''
    },
  },
  methods: {
    changeFile() {
      this.file = this.$refs.file.files[0]
    },
    deleteFile() {
      this.file = ''
    }
  },
}
</script>

<style lang="scss" src='./input-file.scss'>
</style>