.fade-enter-active,
.fade-leave-active {
  transition: ease opacity 0.3s, ease transform 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}


.right-enter-active,
.right-leave-active {
  transition: ease opacity 0.3s, ease transform 0.3s;
}
.right-enter,
.right-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}