@import 'variables';

.container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  // max-width: 1440px + 48px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: $m) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (max-width: $s) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (max-width: $xs) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page {
  $this: &;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // max-width: 1920px;
  // min-width: $minwidth;
  min-height: 100vh;
  margin: auto;
  position: relative;
  // z-index: $layer-1;
  // background-color: $white;

  // &__header {
  //   flex-shrink: 0;
  // }

  // &__content {
  //   position: relative;
  //   z-index: 2;
  // }

  // &__content,
  // &__body,
  // &__footer {
  //   flex-grow: 1;
  // }

  &__footer {
    // flex-grow: 0;
    // flex-shrink: 0;
    background-color: #f2f4f7;
    position: relative;
    margin-top: 160px;

    @media (max-width: $s) {
      margin-top: 128px;
    }
    // $color-bg-secondary: #F2F4F7;
  }
}


