.subcategory-section {
  padding-top: 64px;

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    text-align: center;
  }

  &__grid {
    margin-top: 24px;
    display: grid;
    -ms-grid-columns: (minmax(1px,1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit,minmax(1px,1fr));
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
}