<template lang="pug">
  .subcategory-section
    h2.subcategory-section__title Не забудьте приобрести
    .subcategory-section__grid
      SubcategoryCard(v-for="category in categories" :key="category.id" :category='category')
</template>

<script>
export default {
  data() {
    return {
      categories: [
        {
          title: 'Крепёжные изделия',
          link: '/catalog/slug',
          image: '/img/subcategory-1.svg'
        },
        {
          title: 'Кровельные инструменты',
          link: '/catalog/slug',
          image: '/img/subcategory-2.svg'
        },
        {
          title: 'Краска',
          link: '/catalog/slug',
          image: '/img/subcategory-3.svg'
        },
        {
          title: 'Уплотнитель',
          link: '/catalog/slug',
          image: '/img/subcategory-4.svg'
        },
        {
          title: 'Герметики',
          link: '/catalog/slug',
          image: '/img/subcategory-5.svg'
        },
      ]
    }
  },
}
</script>

<style lang='scss' src='./subcategory-section.scss'></style>