.footer-mobile {
  $this: &;
  background-color: $color-bg-primary;
  z-index: 10;

  display: none;

  @media (max-width: $s) {
    display: flex;
  }

  position: fixed !important;
  width: 100%;
  bottom: 0;
  left: 0;

  &__list {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.compare {
      @media (max-width: $s) {
        display: none;
      }
    }

    &.favorites {
      @media (max-width: $xxs) {
        display: none;
      }
    }

    &.active {
      #{$this}__title {
        color: $color-accent-light-blue;
      }

      #{$this}__icon-grid {
        stroke: $color-accent-light-blue;
      }
    }

    &.nuxt-link-active {
      #{$this}__title {
        color: $color-accent-light-blue;
      }

      #{$this}__icon-home {
        fill: $color-accent-light-blue;
      }

      #{$this}__icon-cart {
        fill: $color-accent-light-blue;
      }

      #{$this}__icon-grid {
        stroke: $color-accent-light-blue;
      }

      #{$this}__icon-compare {
        stroke: $color-accent-light-blue;
      }

      #{$this}__icon-favorites {
        stroke: $color-accent-light-blue;
      }
      #{$this}__icon-user {
        stroke: $color-accent-light-blue;
      }
    }
  }

  &__title {
    color: $color-text-secondary;
    @include fontSize(13, 16);
    font-weight: 600;
    margin-top: 8px;
  }

  &__icon-home {
    width: 20px;
    height: 20px;
    fill: $color-icon-secondary;
  }

  &__icon-grid {
    width: 20px;
    height: 20px;
    stroke: $color-icon-secondary;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &__icon-compare {
    width: 20px;
    height: 20px;
    stroke: $color-icon-secondary;
    stroke-width: 1.5;
  }

  &__icon-favorites {
    width: 20px;
    height: 20px;
    stroke: $color-icon-secondary;
    stroke-width: 1.5;
  }

  &__icon-user {
    width: 20px;
    height: 20px;
    stroke: $color-icon-secondary;
    stroke-width: 1.5;
  }

  &__icon-cart {
    width: 20px;
    height: 20px;
    fill: $color-icon-secondary;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
}
