<template lang="pug">
  .footer    
    .container
      .footer__sign-form(v-if="submitStatus")
        .footer__box
          p.footer__text.bold Подпишитесь на лучшее!
          p.footer__text Получайте новинки, лучшие предложения и скидки по электронной почте          
        .footer__box(v-if="!submited")
          .footer__input
            Input(placeholder='Введите ваш email' type='email' class='white')
          button.footer__button(@click='submit') Подписаться
        .footer__box(v-if="submited")
          .footer__green Вы успешно подписались. Спасибо за вашу подписку
      .footer__content
        .footer__links-mobile
          AccordionFooter(:data='catalog' title='Каталог товаров')
          AccordionFooter(:data='links' title='Покупателям')
          nuxt-link.accordion-footer__title.link(to='/contacts') Контакты
        .footer__main
          .footer__container
            .footer__container-item
              .footer__item
                p.footer__text.grey Мы в социальных сетях
                .footer__socials
                  a.footer__social(href='#')
                    svg-icon.footer__icon(name='facebook')
                  a.footer__social(href='#')
                    svg-icon.footer__icon(name='vkontakte')
                  a.footer__social(href='#')
                    svg-icon.footer__icon(name='twitter')
                  a.footer__social(href='#')
                    svg-icon.footer__icon(name='instagram')
              .footer__item
                p.footer__text.grey Наш рейтинг в Яндексе
                img(src='/icons/yandex-rating.png' style='width: 150px; margin-top: 12px')
            .footer__item.row
              svg-icon.footer__icon(name='trophy' style='margin-right: 12px')
              p.footer__text Лучший адаптивный интернет-проект в 2019 и 2020 годах на Металл-Экспо
          .footer__container.desktop
            p.footer__text.grey Каталог товаров
            .footer__list
              nuxt-link.footer__link(:to='item.link' v-for="item in catalog" :key="item.id") {{item.title}}
          .footer__container.desktop
            p.footer__text.grey Покупателям
            .footer__list
              nuxt-link.footer__link(:to='link.link' v-for="link in links" :key="link.id") {{link.title}}
        .footer__bottom
          .footer__container
            p.footer__text © 2009–2021 «Сталь ТД». Завод кровельных и фасадных материалов
            .footer__info
              nuxt-link.footer__link.info(to='/') Обработка персональных данных
              nuxt-link.footer__link.info(to='/') Политика конфиденциальности
              nuxt-link.footer__link.info(to='/') Правовая информация
          .footer__cards
            img.footer__card(src='/icons/maestro.svg')
            img.footer__card(src='/icons/mastercard.svg')
            img.footer__card.visa(src='/icons/visa.svg')            
            img.footer__card.mir(src='/icons/mir.svg')
        .footer__section
          a.footer__social(href='#')
            svg-icon.footer__icon(name='dvebukvy')
</template>

<script>
export default {
  data() {
    return {
      submited: false,
      submitStatus: true,
      catalog: [
        {
          title: 'Профнастил',
          link: '/catalog/slug',
        },
        {
          title: 'Кровельные материалы',
          link: '/catalog/slug',
        },
        {
          title: 'Элементы кровли',
          link: '/catalog/slug',
        },
        {
          title: 'Водосточные системы',
          link: '/catalog/slug',
        },
        {
          title: 'Заборы и ограждения',
          link: '/catalog/slug',
        },
        {
          title: 'Фасадные материалы',
          link: '/catalog/slug',
        },
        {
          title: 'Сэндвич-панели',
          link: '/catalog/slug',
        },
        {
          title: 'Доборные фасонные элементы',
          link: '/catalog/slug',
        },
        {
          title: 'Плоский прокат',
          link: '/catalog/slug',
        },
        {
          title: 'Изоляционные материалы',
          link: '/catalog/slug',
        },
        {
          title: 'Сопутствующие товары',
          link: '/catalog/slug',
        },
      ],
      links: [
        {
          title: 'Услуги',
          link: '/services'
        },
        {
          title: 'Объекты',
          link: '/objects'
        },
        {
          title: 'Акции',
          link: '/promotions'
        },
        {
          title: 'Доставка и оплата',
          link: '/delivery'
        },
        {
          title: 'Справочник',
          link: '/files'
        },
        {
          title: 'О компании',
          link: '/about'
        },
        {
          title: 'Вакансии',
          link: '/vacancies'
        },
        {
          title: 'Контакты',
          link: '/contacts'
        }
      ]
    }
  },  
  methods: {
    submit() {
      this.submited = true
      setTimeout(() => {
        this.submitStatus = false
      }, 3000);
    }
  },
}
</script>

<style src='./footer.scss' lang="scss">

</style>