<template lang='pug'>
svg-icon.logo(name='logo' v-if="path === '/'")
nuxt-link.logo(v-else to='/')
  svg-icon.logo(name='logo')
</template>

<script>
export default {
  
  computed: {
    path() {
      return this.$route.fullPath
    },
  }
}
</script>

<style lang='scss' src='./logo.scss'></style>