<template lang="pug">
  .page__content
    MainSlider
    MainPopular
    MainRecomended
    MainComplect
    MainColors
    .container
      SubcategorySection
      Slider(:data='slider' object='ServiceCard')
</template>

<script>
export default {
  data() {
    return {
      slider: [
        {
          title: 'Порошковая покраска',
          link: '/services/slug',
          image: '/img/service-card-1.svg'
        },
        {
          title: '2',
          link: '/services/slug',
          image: '/img/service-card-1.svg'
        }
      ]
    }
  },
}
</script>
