<template lang="pug">
  .accordion-footer
    .accordion-footer__head(@click="toogleDropdown")      
      p.accordion-footer__title(:class='{"active": dropdownOpened}') {{title}}
      svg-icon.accordion-footer__icon-shevron(name='chevron-down' :class='{"active": dropdownOpened}')
    
    .accordion-footer__body(:class='{"active": dropdownOpened}' )
      .accordion-footer__list(v-show-slide:500:example-easing="dropdownOpened")
        nuxt-link.accordion-footer__link(to='/' v-for="item in data" :key="item.id") {{item.title}}        
</template>

<script>
export default {
  props: ['data', 'title'],
  data() {
    return {
      dropdownOpened: false
    }
  },
  methods: {
    toogleDropdown() {
      this.dropdownOpened = !this.dropdownOpened
    }
  },
}
</script>

<style src='./accordion-footer.scss' lang="scss">

</style>