.accordion-footer {
  border-bottom: 1px solid $color-separator;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }

  &__title {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 600;

    &.link {
      padding: 16px 0;
      border-bottom: 1px solid $color-separator;
    }
  }

  &__icon-shevron {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;

    &.active {
      transform: rotateX(-180deg);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    padding: 16px 48px;
    border-top: 1px solid $color-separator;
  }
  
}
