.search-field {
  display: flex;
  border-radius: 4px;
  

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: $color-bg-secondary;
    position: relative;
    border-radius: 0px 4px 4px 0px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    
  }

  &__preloader {
    position: absolute;
    width: 24px;
    height: 24px;
    left: -24px;
    z-index: 3;
    background-color: $color-bg-secondary;

    animation: rotate 1s linear 0s infinite;
  }

  &__delete {
    position: absolute;
    width: 24px;
    height: 24px;
    left: -24px;
    z-index: 2;
    fill: $color-icon-secondary;
  }

  &__input {
    width: 100%;
    padding: 12px 16px;
    background-color: $color-bg-secondary;
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;
    outline: none;
    border-radius: 4px 0px 0px 4px;

    &::placeholder {
      color: $color-text-tertiary;
    }
  }
}

@keyframes rotate {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
