<template lang='pug'>
.search-field
  input.search-field__input(type='search' placeholder='Поиск по сайту' v-model="searchValue")       
  .search-field__box
    svg-icon.search-field__icon(name='search')
    transition(name='fade')
      img.search-field__preloader(src='/icons/preloader-item.png' v-if="loading")
    transition(name='fade')
      svg-icon.search-field__delete(name='delete' v-if="searchValue")
</template>

<script>
export default { 
  data() {
    return {
      searchValue: null,
      loading: false
    }
  },    
}
</script>

<style lang='scss' src='./search-field.scss'></style>