.dropdown-menu {
  $this: &;
  width: 100vw;
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;

    &:nth-last-child(1) {
      #{$this}__container {
        border-bottom: unset;
      }
    }
  }

  &__text {
    color: $color-accent-dark-blue;
    @include fontSize(14, 24);
    font-weight: 600;

    &.grey {
      color: $color-text-secondary;
      margin-right: 16px;
    }
  }

  &__city {
    display: flex;
    align-items: center;
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid $color-separator;
    margin-left: 16px;
    width: 100%;
    justify-content: space-between;
  }

  &__icon-close {
    width: 24px;
    height: 24px;
    fill: $color-icon-primary;
  }

  &__icon-chevron {
    width: 24px;
    height: 24px;
    fill: $color-icon-secondary;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }

  &__icon {
    width: 24px;
    height: 24px;
    &.grid {
      stroke: $color-icon-secondary;
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    &.service {
      fill: $color-icon-secondary;
    }

    &.estimate {
      fill: $color-icon-secondary;
      fill-rule: evenodd;
      clip-rule: evenodd;
    }
    &.phone {
      stroke: $color-icon-secondary;
      stroke-width: 1.5;
      stroke-linecap: round;
    }
    &.sale {
      fill: $color-icon-secondary;
      fill-rule: evenodd;
      clip-rule: evenodd;
    }
    &.object {
      fill: $color-icon-secondary;
      stroke: $color-icon-secondary;
    }
    &.glossary {
      fill: $color-icon-secondary;
      stroke: $color-icon-secondary;
    }
    &.delivery {
      fill: $color-icon-secondary;
      fill-rule: evenodd;
      clip-rule: evenodd;
    }
    &.about {
      fill: $color-icon-secondary;
      stroke: $color-icon-secondary;
    }
    &.vacancies {
      stroke: $color-icon-secondary;
      stroke-width: 1.5;
    }
  }
}
