<template lang='pug'>
  .status-badge
    .status-badge__item(v-if="status == 'in-stock'")
      svg-icon.status-badge__icon(name='in-stock')
      p.status-badge__text.green Металл в наличии
    .status-badge__item(v-if="status == 'order'")
      svg-icon.status-badge__icon(name='order')
      p.status-badge__text.blue Под заказ
    .status-badge__item(v-if="status == 'chat'")
      svg-icon.status-badge__icon(name='chat')
      p.status-badge__text.orange Наличие уточняйте
    .status-badge__item(v-if="status == 'out-of-stock'")
      svg-icon.status-badge__icon(name='out-of-stock')
      p.status-badge__text.red Нет в наличии
    
</template>

<script>
export default {  
  props: ['status']
}
</script>

<style lang='scss' src='./status-badge.scss'></style>