.status-badge {
  &__text {
    @include fontSize(13, 16);
    font-weight: 500;

    &.green {
      color: #2F8722;
    }
    &.blue {
      color: #307BAD;
    }
    &.orange {
      color: #DB7100;
    }
    &.red {
      color: #E02D2A;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  &__item {
    display: flex;
  }

 
}
