<template lang='pug'>
  nuxt-link.link-card(:to='card.link')
    p.link-card__title {{card.title}}
    .link-card__cover
      .link-card__image(v-html="card.icon")
    p.link-card__title.link
      | Выбрать
      svg-icon.link-card__arrow(name='arrow-right' style='margin-left: 4px;')
</template>

<script>
export default {  
  props: ['card']
}
</script>

<style lang='scss' src='./link-card.scss'></style>