.link-card {
  $this: &;
  background-color: $color-bg-primary;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    #{$this}__image {
      transform: scale(1.1);
    }
  }

  &__cover {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    transition: transform 0.5s ease;
  }

  &__title {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 700;

    &.link {
      @include fontSize(14, 20);
      font-weight: 600;
    }
  }

  &__arrow {
    width: 20px;
    height: 20px;
    fill: $color-accent-dark-blue;
  }
}
