.subcategory-card {
  $this: &;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    #{$this}__background {
      transform: scale(1.2);
    }
  }

  &__cover {
    position: relative;
    width: 144px;
    height: 144px;
  }

  &__background{
    top: 8px;
    left: 8px;
    position: absolute;
    width: 128px;
    height: 128px;
    background-color: $color-bg-secondary;
    z-index: -1;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  &__title {
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    margin-top: 8px;
  }
}