<template lang="pug">
  nuxt-link.subcategory-card(:to='category.link')
    .subcategory-card__cover
      img.subcategory-card__image(:src='category.image')
      .subcategory-card__background
    p.subcategory-card__title {{category.title}}
</template>

<script>
export default {
  props: ['category']
}
</script>

<style lang='scss' src='./subcategory-card.scss'></style>