.main-colors {
  padding-top: 48px;
  display: flex;
  flex-direction: column;

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    width: 100%;
    text-align: center;
  }

  &__text {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-top: 12px;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: -48px;
  }

  &__tab {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    transition: transform 0.5s ease;
    border: 1px solid transparent; 
    cursor: pointer;  
    
    & + & {
      margin-left: -32px;
    }

    &:hover {
      transform: scale(1.2);
    }

    &.active {
      transform: scale(1.33);
      margin-left: -48px;
    }
  }  

  &__grid {
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    display: grid;
    background-color: $color-separator;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
  }

  &__image {
    margin-top: 32px;
    width: 100%;
    height: 100%;
  }
}
