.nav {
  display: flex;
  padding: 12px 0;

  &__item {
    display: flex;
  }

  &__text {
    color: $color-accent-red;
    @include fontSize(13, 16);
    font-weight: 600;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: $color-accent-red;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }

  &__link {
    color: $color-accent-dark-blue;
    @include fontSize(13, 16);
    font-weight: 600;
    margin-left: 24px;
  }
}
