<template lang="pug">
.nav
  nuxt-link.nav__item(to='/')
    svg-icon.nav__icon(name='sale')
    p.nav__text Акции
  nuxt-link.nav__link(to='/') Доставка и оплата
  nuxt-link.nav__link(to='/') Доставка и оплата
  nuxt-link.nav__link(to='/') Доставка и оплата
  nuxt-link.nav__link(to='/') Доставка и оплата
</template>

<script>
export default {
  data() {
    return {
      text: 'Header',
    }
  },
}
</script>

<style src='./nav.scss' lang="scss">
</style>