.main-complect {
  background-color: #334767;
  padding: 48px 0 64px;
  display: flex;
  flex-direction: column;

  &__title {
    color: $color-text-contrast;
    @include fontSize(24, 32);
    font-weight: 700;
    width: 100%;
    text-align: center;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  &__tab {
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 600;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    & + & {
      margin-left: 24px;
    }

    &:hover {
      opacity: 0.8;
    }

    &.active {
      opacity: 1;
    }
  }

  &__grid {
    border-top: 1px solid #334767;
    border-bottom: 1px solid #334767;
    display: grid;
    background-color: #334767;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
  }

  &__image {
    margin-top: 32px;
    width: 100%;
    height: 100%;
  }
}
