<template lang='pug'>
  .main-complect
    h2.main-complect__title Идеальный комлект
    .main-complect__tabs
      button(type='button' @click='toggleTab(1)', :class='{ "active": tab == 1 }').main-complect__tab Надёжная кровля
      button(type='button' @click='toggleTab(2)', :class='{ "active": tab == 2 }').main-complect__tab Забор под ключ
      button(type='button' @click='toggleTab(3)', :class='{ "active": tab == 3 }').main-complect__tab Фасад для бизнеса
    .container
      .main-complect__content(v-if="tab == 1")
        img.main-complect__image(src='/img/roof-bg.svg')
        .main-complect__grid
          ProductCardMeta(v-for="product in products_meta" :key="product.id" :product='product')
          LinkCard(v-for="card in link_cards" :key="card.id" :card='card')

</template>

<script>
export default {  
  props: ['card'],
  data() {
    return {
      tab: 1,
      background: '',
      link_cards: [
        {
          title: 'Сопутствующие товары',
          link: '/catalog/slug',
          icon: '<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.6 31.2006L40.8 21.6006L18 112.801L94.8 122.401L100.432 99.8716M117.6 31.2006L127.208 103.213L100.432 99.8716M117.6 31.2006L100.432 99.8716M89.7001 60.1123L108.9 62.5123M82.5728 89.3791L101.773 91.7791M69.1781 23.3162L45.8663 116.545M96.8895 27.6193L73.6357 120.614" stroke="#395379" stroke-width="2"/></svg>',
        },
        {
          title: 'Сопутствующие товары',
          link: '/catalog/slug',
          icon: '<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.6 31.2006L40.8 21.6006L18 112.801L94.8 122.401L100.432 99.8716M117.6 31.2006L127.208 103.213L100.432 99.8716M117.6 31.2006L100.432 99.8716M89.7001 60.1123L108.9 62.5123M82.5728 89.3791L101.773 91.7791M69.1781 23.3162L45.8663 116.545M96.8895 27.6193L73.6357 120.614" stroke="#395379" stroke-width="2"/></svg>',
        }
      ],
      products_meta: [
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
      ],
    }
  },
  methods: {
    toggleTab(id) {
      this.tab = id;
    },
  },
}
</script>

<style lang='scss' src='./main-complect.scss'></style>