.breadcrumbs {
  $this: &; 
  padding-top: 16px;

  &__list {
    display: flex;
    align-items: center;    
    flex-wrap: wrap;

    @media (max-width: $m) {
      margin: 32px 0;
    }
    @media (max-width: $s) {
      margin: 24px 0;
    }
  }

  &__item {
    flex-shrink: 0;

    & + & {
      margin-left: 24px;
      position: relative;

      &::before {
        content: '';
        width: 16px;
        height: 16px;
        // background-color: $color-accent-dark-blue;
        background-image: 
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill-rule='evenodd' clip-rule='evenodd' d='M10.8332 8.00006L6.15327 3.33339L5.1665 4.31737L8.85963 8.00006L5.1665 11.6827L6.15327 12.6667L10.8332 8.00006Z' fill='395379'/></svg>");
        position: absolute;
        top: 3px;
        right: calc(100% + 4px);
      }
    }
  }

  &__link {
    @include fontSize(14, 16);
    font-weight: 600;
    color: $color-accent-dark-blue;

    &.unactive {
      opacity: 0.5;
    }
  }
}
