<template lang='pug'>
.collection-items  
  .collection-items__list
    //- CollectionItem
    .collection-items__all
</template>



<script>
export default {
 
}
</script>

<style lang='scss' src='./collection-items.scss'></style>