<template lang="pug">
  .modal-estimate
    svg-icon.modal-estimate__icon-close(name='close' @click='$emit("close")')
    .modal-estimate__content(v-if="!success")
      p.modal-estimate__title Заказ расчёта стоимости
      p.modal-estimate__text Если у вас есть проект и вы хотите, чтобы мы посчитали его стоимость
      .modal-estimate__input
        Input(type='text' placeholder='Имя')
      .modal-estimate__input
        Input(type='phone' placeholder='Телефон')
      .modal-estimate__input
        Input(type='email' placeholder='Электронная почта')
      .modal-estimate__input
        Input(type='textarea' placeholder='Описание вашего проекта')
      .modal-estimate__input
        InputFile
      button.modal-estimate__button(@click='send') Отправить
      .modal-estimate__policy Нажимая кнопку, вы соглашаетесь с <a href=#>условиями обработки персональных данных</a>
    .modal-estimate__success(v-if="success")
      svg-icon.modal-estimate__icon-success(name='check-circle')
      p.modal-estimate__text.success Ваша заявка успешно оформлена. В течение 10 минут с вами свяжется менеджер
      button.modal-estimate__button.success(@click='$emit("close")') Отлично
</template>

<script>
export default {
  data() {
    return {
      success: false
    }
  },
  methods: {
    send() {
      this.success = true
    }
  },
}
</script>

<style lang="scss" src='./modal-estimate.scss'>
  
</style>