<template lang="pug">
  .dropdown-catalog
    .dropdown-catalog__desktop
      .dropdown-catalog__col
        h2.dropdown-catalog__headline Каталог
        ul.dropdown-catalog__list
          li.dropdown-catalog__item(v-for="(item, i) in catalog" :key="i" @mouseover='getFirstIndex(i)')
            svg-icon.dropdown-catalog__icon(:name="item.icon")
            nuxt-link.dropdown-catalog__link(:to='item.link') {{item.title}}        
      .dropdown-catalog__col(v-if="firstIndex >= 0 && catalog[firstIndex].categories.length > 1")
        h2.dropdown-catalog__headline {{catalog[firstIndex].title}}
        ul.dropdown-catalog__list
          li.dropdown-catalog__item(v-for="(category, j) in catalog[firstIndex].categories" :key="j" @mouseover='getSecondIndex(j)')          
            nuxt-link.dropdown-catalog__link(to='/') {{category.title}}        
      .dropdown-catalog__col
        .dropdown-catalog__box.first
          h2.dropdown-catalog__headline {{catalog[firstIndex].categories[secondIndex].title}}
          ul.dropdown-catalog__list-grid.first
            li.dropdown-catalog__product-item(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].products" :key="z")          
              nuxt-link.dropdown-catalog__link(to='/') {{product.title}}
        .dropdown-catalog__box    
          h2.dropdown-catalog__headline Популярное
          ul.dropdown-catalog__list-grid
            li.dropdown-catalog__product-item(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].popular" :key="z")          
              nuxt-link.dropdown-catalog__link(to='/') {{product.title}}    
        .dropdown-catalog__box    
          h2.dropdown-catalog__headline Рекомендуем приобрести
          ul.dropdown-catalog__list-grid
            li.dropdown-catalog__product-item(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].recomended" :key="z")          
              nuxt-link.dropdown-catalog__link(to='/') {{product.title}}
              
    .dropdown-catalog__mobile
    
      .dropdown-catalog__container-mobile.is-active
        .dropdown-catalog__header
          svg-icon.dropdown-catalog__icon-arrow(name='arrow-left' @click='close')
          h2.dropdown-catalog__headline Каталог
          svg-icon.dropdown-catalog__icon-close(name='close' @click='close')
        .dropdown-catalog__body
          .dropdown-catalog__item-mobile(v-for="(item, i) in catalog" :key="i" @click='toogleFirst(i)')
            .dropdown-catalog__content-mobile
              svg-icon.dropdown-catalog__icon(:name="item.icon")
              .dropdown-catalog__link {{item.title}}
            svg-icon.dropdown-catalog__icon-chevron(name='chevron-right')

      .dropdown-catalog__container-mobile.second(:class='{"is-active": firstOpen}')
        .dropdown-catalog__header
          svg-icon.dropdown-catalog__icon-arrow(name='arrow-left' @click='backFirst')
          h2.dropdown-catalog__headline {{catalog[firstIndex].title}}
          svg-icon.dropdown-catalog__icon-close(name='close' @click='close')
        .dropdown-catalog__body
          .dropdown-catalog__item-mobile(v-for="(category, j) in catalog[firstIndex].categories" :key="j" @click='toogleSecond(j)')
            .dropdown-catalog__content-mobile              
              .dropdown-catalog__link {{category.title}}
            svg-icon.dropdown-catalog__icon-chevron(name='chevron-right')

      .dropdown-catalog__container-mobile.third(:class='{"is-active": secondOpen}')
        .dropdown-catalog__header
          svg-icon.dropdown-catalog__icon-arrow(name='arrow-left' @click='backSecond')
          h2.dropdown-catalog__headline {{catalog[firstIndex].categories[secondIndex].title}}
          svg-icon.dropdown-catalog__icon-close(name='close' @click='close')
        .dropdown-catalog__body
          .dropdown-catalog__item-mobile(@click='tooglePopular')
            .dropdown-catalog__content-mobile
              .dropdown-catalog__link Популярное
            svg-icon.dropdown-catalog__icon-chevron(name='chevron-right')
          .dropdown-catalog__item-mobile(@click='toogleRecomended')
            .dropdown-catalog__content-mobile
              .dropdown-catalog__link Рекомендуем приобрести
            svg-icon.dropdown-catalog__icon-chevron(name='chevron-right')
          .dropdown-catalog__item-mobile(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].products" :key="z")
            .dropdown-catalog__content-mobile
              nuxt-link.dropdown-catalog__link(:to='product.link' @click='close') {{product.title}}
            //- svg-icon.dropdown-catalog__icon-chevron(name='chevron-right')

      .dropdown-catalog__container-mobile.popular(:class='{"is-active": popularOpen}')
        .dropdown-catalog__header
          svg-icon.dropdown-catalog__icon-arrow(name='arrow-left' @click='tooglePopular')
          h2.dropdown-catalog__headline Популярное
          svg-icon.dropdown-catalog__icon-close(name='close' @click='close')
        .dropdown-catalog__body          
          .dropdown-catalog__item-mobile(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].popular" :key="z")
            .dropdown-catalog__content-mobile
              nuxt-link.dropdown-catalog__link(:to='product.link' @click='close') {{product.title}}

      .dropdown-catalog__container-mobile.popular(:class='{"is-active": recomendedOpen}')
        .dropdown-catalog__header
          svg-icon.dropdown-catalog__icon-arrow(name='arrow-left' @click='toogleRecomended')
          h2.dropdown-catalog__headline Популярное
          svg-icon.dropdown-catalog__icon-close(name='close' @click='close')
        .dropdown-catalog__body          
          .dropdown-catalog__item-mobile(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].recomended" :key="z")
            .dropdown-catalog__content-mobile
              nuxt-link.dropdown-catalog__link(:to='product.link' @click='close') {{product.title}}
</template>

<script>
export default {
  data() {
    return {      
      firstIndex: 0,
      secondIndex: 0,
      firstOpen: false,
      secondOpen: false,
      popularOpen: false,
      recomendedOpen: false,
      catalog: [
        {
          title: 'Профнастил',
          link: '/catalog/slug',
          icon: 'proflist',
          categories: [
            {  
              title: 'Софиты металлические',
              link: '/catalog/slug',            
              products: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Grand Line с полной перфорацией',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Aquasystem с полной перфорацией',
                  link: '/product/slug',
                }
              ],
              popular: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                }
              ],
              recomended: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                }
              ]
            },            
          ]
        },
        {
          title: 'Кровельные материалы',
          link: '/catalog/slug',
          icon: 'proflist',
          categories: [
            {
              title: 'Софиты металлические',
              link: '/catalog/slug',
              products: [
                {
                  title: '1',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Grand Line с полной перфорацией',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Aquasystem с полной перфорацией',
                  link: '/product/slug',
                }
              ],
              popular: [
                {
                  title: 'Коричневые софиты',
                  link: '/product/slug',
                },
                {
                  title: 'Белые софиты',
                  link: '/product/slug',
                },
                {
                  title: 'Софиты под деерево',
                  link: '/product/slug',
                },
                {
                  title: 'Софиты без перфорации',
                  link: '/product/slug',
                },
                {
                  title: 'С центральной перфорацией',
                  link: '/product/slug',
                },                
              ],
              recomended: [
                {
                  title: 'Доборные элементы',
                  link: '/product/slug',
                },
                {
                  title: 'Крепёж',
                  link: '/product/slug',
                }
              ]
            },
            {
              title: 'Софиты металлические',
              link: '/catalog/slug',
              products: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Grand Line с полной перфорацией',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Aquasystem с полной перфорацией',
                  link: '/product/slug',
                }
              ],
              popular: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                }
              ],
              recomended: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                }
              ]
            }
          ]
        }
      ]
    }
  },
  methods: {
    getFirstIndex(index) { 
      this.firstIndex = index
      console.log("first index: " + this.firstIndex);
    },
    getSecondIndex(ind) {
      this.secondIndex = ind
      console.log("second index: " + this.secondIndex);
    },
    toogleFirst(index) {
      this.firstIndex = index
      console.log(this.catalog[index].categories.length > 1);
      if (this.catalog[index].categories.length > 1) {
        this.firstOpen =! this.firstOpen
      } else {
        this.secondOpen =! this.secondOpen
      }      
    },
    toogleSecond(ind) {
      this.secondIndex = ind
      this.secondOpen =! this.secondOpen
    },
    close() {
      this.$nuxt.$emit('closeCatalog')
    },
    backFirst() {
      this.firstOpen =! this.firstOpen
    },
    backSecond() {
      this.secondOpen =! this.secondOpen
    },
    tooglePopular() {
      this.popularOpen =! this.popularOpen
    },
    toogleRecomended() {
      this.recomendedOpen =! this.recomendedOpen
    }
  },
}
</script>

<style src='./dropdown-catalog.scss' lang="scss">

</style>