.dropdown-catalog {
  &__desktop {
    display: flex;
    @media (max-width: $s) {
      display: none;
    }
  }
  &__mobile {
    display: none;
    flex-direction: column;
    @media (max-width: $s) {
      display: flex;      
      width: 100vw;
    }
  }

  &__headline {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    stroke: $color-icon-secondary;
  }

  &__list {
    margin-top: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 16px 0;
    padding-right: 24px;
    border-right: 4px solid $color-bg-primary;
    transition: border-right 0.5s ease;

    &:hover {
      border-right: 4px solid $color-accent-light-blue;
    }
  }

  &__col {
    width: 280px;
    height: 100vh;
    padding: 24px;
    padding-right: 0;
    position: relative;

    @media (max-width: $m) {
      width: 256px;
    }

    & + & {
      border-left: 8px solid $color-separator;
    }

    &:nth-last-child(1) {
      width: 576px;
      @media (max-width: $m) {
        width: 448px;
      }
    }
  }

  &__box {
    & + & {
      padding: 24px 0;
      border-top: 1px solid $color-separator;
    }

    &.first {
      padding-bottom: 24px;
    }
  }

  &__link {
    color: $color-text-primary;
    @include fontSize(14, 24);
    font-weight: 500;
  }

  &__list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 16px 24px;
    margin-top: 16px;

    &.first {
      margin-top: 32px;
    }
  }

  &__product-item {
  }

  &__icon-arrow {
    width: 24px;
    height: 24px;
    stroke: $color-icon-primary;
    stroke-width: 2;
    stroke-linecap: square;
  }
  &__icon-close {
    width: 24px;
    height: 24px;
    fill: $color-icon-primary;
  }
  &__icon-chevron {
    width: 24px;
    height: 24px;
    fill: $color-icon-secondary;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }

  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }

  &__body {
    margin-top: 8px;
    padding: 0 24px;
  }

  &__item-mobile {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;

    &+& {
      border-top: 1px solid $color-separator;
    }
  }

  &__content-mobile {
    display: flex;
  }

  &__container-mobile {
    width: 100%;
    position: fixed;
    right: 0;
    z-index: 99;
    background-color: $color-bg-primary;
    transform: translateX(-100%);
    transition: ease transform 0.3s;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &.is-active {
      transform: translateX(0);
      height: 100vh;
    }
    &.second {
      z-index: 100;
    }
    &.third {
      z-index: 101;
    }
    &.popular {
      z-index: 102;
    }    
  }
}
