.catalog-card {

  padding: 24px;
  background-color: $color-bg-secondary;

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__title {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 600;
    padding-top: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  &__link {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;

    &+&{
      margin-top: 12px;
    }
  }
}