<template lang="pug">
  .catalog-card
    img.catalog-card__icon(:src='category.icon')
    h2.catalog-card__title {{category.title}}
    .catalog-card__list
      nuxt-link.catalog-card__link(v-for="link in category.categories" :key="link.id" :to='"/catalog/" + link.slug') {{link.title}}
</template>

<script>
export default {
  props: ['category']
}
</script>

<style src='./catalog-card.scss' lang="scss">
</style>